<?xml version="1.0" encoding="utf-8"?>
  <robot xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:macro name="rack" params="prefix">

      <link name="${prefix}rack">
        <visual>
          <geometry>
            <mesh filename="package://arbrob/meshes/rack/visual/rack_v0.1.stl"/>
          </geometry>
          <material name="">
            <color rgba="1.0 1.0 1.0 1.0"/>
          </material>
        </visual>
        <collision>
          <geometry>
            <mesh filename="package://arbrob/meshes/rack/collision/rack_v0.1.stl"/>
          </geometry>
        </collision>
      </link>

      <joint name="${prefix}attachment_UR5" type="fixed">
        <parent link="${prefix}rack" />
        <child link="${prefix}ur_link" />
        <origin xyz="0.54 0.119 0.428" rpy="0.0 0.0 0.0" />
     </joint>

     <link name="${prefix}ur_link"/>

      <joint name="${prefix}attachment_servo" type="fixed">
        <parent link="${prefix}rack" />
        <child link="${prefix}servo_link" />
        <origin xyz="0.02 0.65 0.44" rpy="0.0 0.0 0.0" />
     </joint>

     <link name="${prefix}servo_link"/>
    </xacro:macro>
  </robot>