<?xml version="1.0"?>
<robot name="ur5_rack_with_print_tool" xmlns:xacro="http://wiki.ros.org/xacro">
  <!-- rack -->
  <xacro:include filename="rack.xacro"/>
  <!-- servo -->
  <xacro:include filename="servo.xacro"/>
  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />
  <!-- end-effector -->
  <xacro:include filename="print_tool.xacro" />
  
  <!-- ur5 -->
  <!-- The ur5 xacro must be included with passing parameters -->
  <xacro:ur5_robot prefix="" joint_limited="true"/>

  <!-- Here we include the end-effector by setting the parameters -->
  <!-- TODO: check end-effector link name of robot -->
  <xacro:print_tool prefix="" connected_to="tool0"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="rack" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:rack prefix=""/>

  <joint name="attachment_joint_ur" type="fixed">
    <parent link="ur_link" />
    <child link="base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <xacro:servo prefix="" connected_to="servo_link"/>

</robot>